table {
    border: 3px solid black;
    border-collapse: collapse;
    min-height: 11em;
    padding-left: 10px;
}

thead {
    height: 3em;
    width: max-content;
    font-size: x-small;
    text-align: left;
}

tbody {
    align-items: flex-start;
    border-collapse: collapse;
    font-size: smaller;
}

th {
    padding-left: 5px;
    border-bottom: 3px solid black;
}

td {
    font-size: smaller;
}


.jumlah-data {
    width: 21%;
    border: 3px solid black;
    margin-bottom: 2px;
}

.cari {
    width: 75px;
    position: end;
    border: 3px solid black;
    margin-bottom: 2px;
}

.iterate {
    background-color: white;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: x-small;
    font-weight: bolder;
}

.iterate:active {
    background-color: gray;
    color: white;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.non-iterate {
    background-color: white;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: x-small;
    font-weight: bolder;
}

.non-iterate:active {
    background-color: gray;
    color: white;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}